/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

* {
  font-family: cursive;
  box-sizing: border-box;
}

.title {
  width: max-content !important;
  text-shadow: 2px 2px 6px rgba(2, 2, 1);
}
